$blue: #05386B;
$green: #379683;

.back-button {
  background-color: $green;
  margin-top: 1rem;
}

.director-view {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.director-name {
  font-family: 'Josefin Sans', sans-serif;
}
