$blue: #05386B;
$green: #379683;
$background: #FFFFF0;

html {
  background-color: $background;
}

.login-view {
  background-color: $background;
}

.login-form {
  margin: 10rem auto;
  width: 30%;
  color: $green;
}

.myflix-title{
  margin: 10rem auto;
  width: 30%;
  color: $blue;
}

.submit-button {
  background-color: $green;
}

.registration-group {
  margin: 0 auto;
  width: 30%;
}
a:not([href]):not([tabindex]){
  text-decoration: underline;
}

.register-link:hover{
  cursor: pointer;
}
