$blue: #05386B;
$green: #379683;

.login-form {
  margin: 10rem auto;
  width: 30%;
  color: $green;
}

.myflix-title{
  margin: 10rem auto;
  width: 30%;
  color: $blue;
}

.submit-button {
  background-color: $green;
}
