$blue: #05386B;
$green: #379683;

.movie-title {
  color: $green;
  font-family: 'Josefin Sans', sans-serif;
}

.movie-description {
  font-family: 'Raleway', sans-serif;
}

.open-button {
  background-color: $green;
  font-family: 'Raleway', sans-serif;
}

.btn-link {
  color: white;
}

.card-columns {
  margin-left: 3rem;
}
