$blue: #05386B;
$green: #379683;

.profile-view {
  background-color: #FFFFF0;
}

.profile-form {
  margin: 7rem auto;
  width: 30%;
  color: $green;
}

.form-buttons{
  display: flex;
  justify-content: space-between;
}

.myflix-title{
  margin: 7rem auto;
  width: 30%;
  color: $blue;
}

.update-button {
  background-color: $green;
}

.delete-button {
  background-color: red;
}

.deregister-button {
  margin: 7rem auto;
  width: 30%;
  background-color: red;
}

.favorite-movies{
  display: flex;
  justify-content: space-between;
}

.deregister-group {
  margin: 1rem auto;
  width: 30%;
  color: $blue;
}

.deregister-list-group {
  margin: auto;
  width: 30%;
  color: $blue;
}
