$blue: #05386B;
$green: #379683;

.registration-view {
  background-color: #FFFFF0;
}

.registration-form {
  margin: 10rem auto;
  width: 30%;
  color: $green;
}

.myflix-title{
  margin: 10rem auto;
  width: 30%;
  color: $blue;
}

.submit-button {
  background-color: $green;
}

.login-group {
  margin: 0 auto;
  width: 30%;
}

.login-link {
  text-decoration: underline;
}

.login-link:hover{
  cursor: pointer;
}
